.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.hooks-main > div:nth-child(1) {
  background-color: #607d8b;

  width: 7.5rem;
  height: 7.5rem;
}

.hooks-main > div:nth-child(2) {
  background-color: #ff1744;
  width: 14rem;
  height: 14rem;
}

.hooks-main > div::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 4.375rem;
  left: 4.375rem;
  width: 4.375rem;
  height: 4.375rem;
}

.hooks-main > div:nth-child(3)::after {
  top: 3.125rem;
  left: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url("#goo");
  overflow: hidden;
}
