/* ****************************************Header */

.header {
  position: relative;
  height: 100vh;
  background-color: #00796b;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
}

/* ****************************************Header-texts-div */

.hello-texts-div {
  position: absolute;
  top: 35%;
  left: 26%;
  transform: translate(-50%, -50%);
  margin-left: 1.25rem;
}
/* ****************************************Header-text-h1  */
.h1 {
  font-size: 6.25rem;
}

.hello-header-text.active {
  color: var(--primary-cyan);
  transition: 0.3s;
}
.hello-header-single-letter-0 {
  animation: key-up 1s 0.1s ease-in-out;
}
.hello-header-single-letter-1 {
  animation: key-up 1s 0.15s ease-in-out;
}
.hello-header-single-letter-2 {
  animation: key-up 1s 0.2s ease-in-out;
}
.hello-header-single-letter-3 {
  animation: key-up 1s 0.25s ease-in-out;
}
.hello-header-single-letter-4 {
  animation: key-up 1s 0.3s ease-in-out;
}
@keyframes key-up {
  0% {
    color: black;
    font-size: 6.25rem;
  }
  50% {
    color: var(--primary-cyan);
    font-size: 7rem;
  }
  70% {
  }
  100% {
    color: black;
    font-size: 6.25rem;
  }
}
/* ****************************************Header-text-h2  */
.hello-texts-div h2 span {
  animation: flashingName 4s infinite;
}
@keyframes flashingName {
  0% {
  }
  50% {
  }
  75% {
    color: var(--primary-cyan);
  }
  100% {
  }
}
.heart {
  font-size: 1.375rem;
}

/* ****************************************Header-tags */
.tags .open-tag {
  position: absolute;
  left: 0;
  top: 25%;
}
.tags .close-tag {
  position: absolute;
  left: 50%;
  top: 38%;
}
/* ****************************************Header-clock  */
.clock {
  position: absolute;
  right: -1%;
  top: 10%;
  transform: translate(-50%, 0);
  font-size: 1.25rem;
  font-weight: 800;
  z-index: 2;
}

/* ****************************************Header-arrow  */

.double-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  color: white;
  font-size: 3.125rem;
  animation: bouncingArrow 2s infinite;
  cursor: pointer;
}
@keyframes bouncingArrow {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 8%;
  }
  50% {
    bottom: 9%;
  }
  75% {
    bottom: 8%;
  }
  100% {
    bottom: 10%;
  }
}
/* ****************************************Header-waves  */

.waves {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ****************************************Media-queries  */

@media (max-width: 1200px) {
  .hello-texts-div {
    position: absolute;
    top: 35%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    margin-left: 1.25rem;
  }
  .tags .close-tag {
    position: absolute;
    left: 61.5%;
    top: 38%;
  }
}
/*  */
