.skills-section {
  position: relative;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-black);
  color: var(--primary-cyan);
}

.skills-section .title {
  margin: 1.25rem 0 0 1.25rem;
  font-size: 5rem;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.all-skills {
  margin: 10px 0 20px 0;
  text-align: right;
  line-height: 100px;
  height: 100px;
  width: 23%;
  font-size: 40px;
  font-weight: 800;
}
.all-skills:hover {
  width: 24%;
  height: 110px;
  transition: 0.3s;
}
/* **************************************************skills animations */
.skill-number-0 {
  opacity: 0;
  transition: 1s;
}
.skill-number-0-active {
  background-image: url("../png/hmtl.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 1;
}
.skill-number-1 {
  opacity: 0;
  transition: 1s 0.5s;
}
.skill-number-1-active {
  background-image: url("../png/css.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 1;
}
.skill-number-2 {
  opacity: 0;
  transition: 1s 1s;
}
.skill-number-2-active {
  background-image: url("../png/JS.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 1;
}
.skill-number-3 {
  opacity: 0;
  transition: 1s 1.5s;
}
.skill-number-3-active {
  background-image: url("../png/react.png");
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-4 {
  opacity: 0;
  transition: 1s 2s;
}
.skill-number-4-active {
  background-image: url("../png/node.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-5 {
  opacity: 0;
  transition: 1s 2.5s;
}
.skill-number-5-active {
  background-image: url("../png/express.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-6 {
  opacity: 0;
  transition: 1s 3s;
}
.skill-number-6-active {
  background-image: url("../png/sass.png");
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-7 {
  opacity: 0;
  transition: 1s 3.5s;
}
.skill-number-7-active {
  background-image: url("../png/bootstrap.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-8 {
  opacity: 0;
  transition: 1s 4s;
}
.skill-number-8-active {
  background-image: url("../png/materialUi.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-9 {
  opacity: 0;
  transition: 1s 4.5s;
}
.skill-number-9-active {
  background-image: url("../png/git.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-10 {
  opacity: 0;
  transition: 1s 5s;
}
.skill-number-10-active {
  background-image: url("../png/photoshop.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
.skill-number-11 {
  opacity: 0;
  transition: 1s 5.5s;
}
.skill-number-11-active {
  background-image: url("../png/alghoritms.png");
  background-repeat: no-repeat;
  background-size: 35% auto;
  background-position-y: 50%;
  opacity: 1;
}
